.list{
    width: 200px;
    height: 400px;
    background-color:#333333;
}
a{
    color: aliceblue
}
.video{
    width:1250px;
    margin: 0 auto;
}
video{
    width: 582px;
    height: 400px;
    float: left
}
.jishu{
    float: none
}